@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--DMsans);
}

:root {
  --main-bg-color: #ffffff;
  --secondery-bg-color: #f5f5f3;
  --main-font-color: #262626;
  --secondery-font-color: #6d6d6d;
  --tertiary-font-color: #767676;
  --DMsans: "DM Sans", sans-serif;
}

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
  * {
    @apply m-0 box-border p-0 outline-none;
  }

  ul,
  ol {
    @apply list-none;
  }
  img {
    @apply align-middle;
  }
  a {
    @apply no-underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  ul,
  ol,
  li,
  div {
    @apply m-0 p-0;
  }
}

@layer components {
  .menu_list {
    @apply font-DMsans text-sm font-normal text-tertiary-font-color;
    letter-spacing: 0.6px;
  }

  .menu_list:hover {
    color: var(--main-font-color);
    font-weight: bold;
    letter-spacing: 0;
  }
}
.slick-dots ul .slick-active div {
  border-right: 2px solid var(--main-font-color) !important;
}
